{% if include.country == "Andorra" %}&#x1F1E6;&#x1F1E9;
{% elsif include.country == "United Arab Emirates" %}&#x1F1E6;&#x1F1EA;
{% elsif include.country == "Afghanistan" %}&#x1F1E6;&#x1F1EB;
{% elsif include.country == "Antigua and Barbuda" %}&#x1F1E6;&#x1F1EC;
{% elsif include.country == "Anguilla" %}&#x1F1E6;&#x1F1EE;
{% elsif include.country == "Albania" %}&#x1F1E6;&#x1F1F1;
{% elsif include.country == "Armenia" %}&#x1F1E6;&#x1F1F2;
{% elsif include.country == "Angola" %}&#x1F1E6;&#x1F1F4;
{% elsif include.country == "Antarctica" %}&#x1F1E6;&#x1F1F6;
{% elsif include.country == "Argentina" %}&#x1F1E6;&#x1F1F7;
{% elsif include.country == "American Samoa" %}&#x1F1E6;&#x1F1F8;
{% elsif include.country == "Austria" %}&#x1F1E6;&#x1F1F9;
{% elsif include.country == "Australia" %}&#x1F1E6;&#x1F1FA;
{% elsif include.country == "Aruba" %}&#x1F1E6;&#x1F1FC;
{% elsif include.country == "Åland Islands" %}&#x1F1E6;&#x1F1FD;
{% elsif include.country == "Azerbaijan" %}&#x1F1E6;&#x1F1FF;
{% elsif include.country == "Bosnia and Herzegovina" %}&#x1F1E7;&#x1F1E6;
{% elsif include.country == "Barbados" %}&#x1F1E7;&#x1F1E7;
{% elsif include.country == "Bangladesh" %}&#x1F1E7;&#x1F1E9;
{% elsif include.country == "Belgium" %}&#x1F1E7;&#x1F1EA;
{% elsif include.country == "Burkina Faso" %}&#x1F1E7;&#x1F1EB;
{% elsif include.country == "Bulgaria" %}&#x1F1E7;&#x1F1EC;
{% elsif include.country == "Bahrain" %}&#x1F1E7;&#x1F1ED;
{% elsif include.country == "Burundi" %}&#x1F1E7;&#x1F1EE;
{% elsif include.country == "Benin" %}&#x1F1E7;&#x1F1EF;
{% elsif include.country == "Saint Barthélemy" %}&#x1F1E7;&#x1F1F1;
{% elsif include.country == "Bermuda" %}&#x1F1E7;&#x1F1F2;
{% elsif include.country == "Brunei Darussalam" %}&#x1F1E7;&#x1F1F3;
{% elsif include.country == "Bolivia" %}&#x1F1E7;&#x1F1F4;
{% elsif include.country == "Bonaire, Sint Eustatius and Saba" %}&#x1F1E7;&#x1F1F6;
{% elsif include.country == "Brazil" %}&#x1F1E7;&#x1F1F7;
{% elsif include.country == "Bahamas" %}&#x1F1E7;&#x1F1F8;
{% elsif include.country == "Bhutan" %}&#x1F1E7;&#x1F1F9;
{% elsif include.country == "Bouvet Island" %}&#x1F1E7;&#x1F1FB;
{% elsif include.country == "Botswana" %}&#x1F1E7;&#x1F1FC;
{% elsif include.country == "Belarus" %}&#x1F1E7;&#x1F1FE;
{% elsif include.country == "Belize" %}&#x1F1E7;&#x1F1FF;
{% elsif include.country == "Canada" %}&#x1F1E8;&#x1F1E6;
{% elsif include.country == "Cocos (Keeling) Islands" %}&#x1F1E8;&#x1F1E8;
{% elsif include.country == "Congo" %}&#x1F1E8;&#x1F1E9;
{% elsif include.country == "Central African Republic" %}&#x1F1E8;&#x1F1EB;
{% elsif include.country == "Congo" %}&#x1F1E8;&#x1F1EC;
{% elsif include.country == "Switzerland" %}&#x1F1E8;&#x1F1ED;
{% elsif include.country == "Côte D'Ivoire" %}&#x1F1E8;&#x1F1EE;
{% elsif include.country == "Cook Islands" %}&#x1F1E8;&#x1F1F0;
{% elsif include.country == "Chile" %}&#x1F1E8;&#x1F1F1;
{% elsif include.country == "Cameroon" %}&#x1F1E8;&#x1F1F2;
{% elsif include.country == "China" %}&#x1F1E8;&#x1F1F3;
{% elsif include.country == "Colombia" %}&#x1F1E8;&#x1F1F4;
{% elsif include.country == "Costa Rica" %}&#x1F1E8;&#x1F1F7;
{% elsif include.country == "Cuba" %}&#x1F1E8;&#x1F1FA;
{% elsif include.country == "Cape Verde" %}&#x1F1E8;&#x1F1FB;
{% elsif include.country == "Curaçao" %}&#x1F1E8;&#x1F1FC;
{% elsif include.country == "Christmas Island" %}&#x1F1E8;&#x1F1FD;
{% elsif include.country == "Cyprus" %}&#x1F1E8;&#x1F1FE;
{% elsif include.country == "Czech Republic" %}&#x1F1E8;&#x1F1FF;
{% elsif include.country == "Germany" %}&#x1F1E9;&#x1F1EA;
{% elsif include.country == "Djibouti" %}&#x1F1E9;&#x1F1EF;
{% elsif include.country == "Denmark" %}&#x1F1E9;&#x1F1F0;
{% elsif include.country == "Dominica" %}&#x1F1E9;&#x1F1F2;
{% elsif include.country == "Dominican Republic" %}&#x1F1E9;&#x1F1F4;
{% elsif include.country == "Algeria" %}&#x1F1E9;&#x1F1FF;
{% elsif include.country == "Ecuador" %}&#x1F1EA;&#x1F1E8;
{% elsif include.country == "Estonia" %}&#x1F1EA;&#x1F1EA;
{% elsif include.country == "Egypt" %}&#x1F1EA;&#x1F1EC;
{% elsif include.country == "Western Sahara" %}&#x1F1EA;&#x1F1ED;
{% elsif include.country == "Eritrea" %}&#x1F1EA;&#x1F1F7;
{% elsif include.country == "Spain" %}&#x1F1EA;&#x1F1F8;
{% elsif include.country == "Ethiopia" %}&#x1F1EA;&#x1F1F9;
{% elsif include.country == "Finland" %}&#x1F1EB;&#x1F1EE;
{% elsif include.country == "Fiji" %}&#x1F1EB;&#x1F1EF;
{% elsif include.country == "Falkland Islands (Malvinas)" %}&#x1F1EB;&#x1F1F0;
{% elsif include.country == "Micronesia" %}&#x1F1EB;&#x1F1F2;
{% elsif include.country == "Faroe Islands" %}&#x1F1EB;&#x1F1F4;
{% elsif include.country == "France" %}&#x1F1EB;&#x1F1F7;
{% elsif include.country == "Gabon" %}&#x1F1EC;&#x1F1E6;
{% elsif include.country == "United Kingdom" %}&#x1F1EC;&#x1F1E7;
{% elsif include.country == "UK" %}&#x1F1EC;&#x1F1E7;
{% elsif include.country == "Grenada" %}&#x1F1EC;&#x1F1E9;
{% elsif include.country == "Georgia" %}&#x1F1EC;&#x1F1EA;
{% elsif include.country == "French Guiana" %}&#x1F1EC;&#x1F1EB;
{% elsif include.country == "Guernsey" %}&#x1F1EC;&#x1F1EC;
{% elsif include.country == "Ghana" %}&#x1F1EC;&#x1F1ED;
{% elsif include.country == "Gibraltar" %}&#x1F1EC;&#x1F1EE;
{% elsif include.country == "Greenland" %}&#x1F1EC;&#x1F1F1;
{% elsif include.country == "Gambia" %}&#x1F1EC;&#x1F1F2;
{% elsif include.country == "Guinea" %}&#x1F1EC;&#x1F1F3;
{% elsif include.country == "Guadeloupe" %}&#x1F1EC;&#x1F1F5;
{% elsif include.country == "Equatorial Guinea" %}&#x1F1EC;&#x1F1F6;
{% elsif include.country == "Greece" %}&#x1F1EC;&#x1F1F7;
{% elsif include.country == "South Georgia" %}&#x1F1EC;&#x1F1F8;
{% elsif include.country == "Guatemala" %}&#x1F1EC;&#x1F1F9;
{% elsif include.country == "Guam" %}&#x1F1EC;&#x1F1FA;
{% elsif include.country == "Guinea-Bissau" %}&#x1F1EC;&#x1F1FC;
{% elsif include.country == "Guyana" %}&#x1F1EC;&#x1F1FE;
{% elsif include.country == "Hong Kong" %}&#x1F1ED;&#x1F1F0;
{% elsif include.country == "Heard Island and Mcdonald Islands" %}&#x1F1ED;&#x1F1F2;
{% elsif include.country == "Honduras" %}&#x1F1ED;&#x1F1F3;
{% elsif include.country == "Croatia" %}&#x1F1ED;&#x1F1F7;
{% elsif include.country == "Haiti" %}&#x1F1ED;&#x1F1F9;
{% elsif include.country == "Hungary" %}&#x1F1ED;&#x1F1FA;
{% elsif include.country == "Indonesia" %}&#x1F1EE;&#x1F1E9;
{% elsif include.country == "Ireland" %}&#x1F1EE;&#x1F1EA;
{% elsif include.country == "Israel" %}&#x1F1EE;&#x1F1F1;
{% elsif include.country == "Isle of Man" %}&#x1F1EE;&#x1F1F2;
{% elsif include.country == "India" %}&#x1F1EE;&#x1F1F3;
{% elsif include.country == "British Indian Ocean Territory" %}&#x1F1EE;&#x1F1F4;
{% elsif include.country == "Iraq" %}&#x1F1EE;&#x1F1F6;
{% elsif include.country == "Iran" %}&#x1F1EE;&#x1F1F7;
{% elsif include.country == "Iceland" %}&#x1F1EE;&#x1F1F8;
{% elsif include.country == "Italy" %}&#x1F1EE;&#x1F1F9;
{% elsif include.country == "Jersey" %}&#x1F1EF;&#x1F1EA;
{% elsif include.country == "Jamaica" %}&#x1F1EF;&#x1F1F2;
{% elsif include.country == "Jordan" %}&#x1F1EF;&#x1F1F4;
{% elsif include.country == "Japan" %}&#x1F1EF;&#x1F1F5;
{% elsif include.country == "Kenya" %}&#x1F1F0;&#x1F1EA;
{% elsif include.country == "Kyrgyzstan" %}&#x1F1F0;&#x1F1EC;
{% elsif include.country == "Cambodia" %}&#x1F1F0;&#x1F1ED;
{% elsif include.country == "Kiribati" %}&#x1F1F0;&#x1F1EE;
{% elsif include.country == "Comoros" %}&#x1F1F0;&#x1F1F2;
{% elsif include.country == "Saint Kitts and Nevis" %}&#x1F1F0;&#x1F1F3;
{% elsif include.country == "North Korea" %}&#x1F1F0;&#x1F1F5;
{% elsif include.country == "South Korea" %}&#x1F1F0;&#x1F1F7;
{% elsif include.country == "Kuwait" %}&#x1F1F0;&#x1F1FC;
{% elsif include.country == "Cayman Islands" %}&#x1F1F0;&#x1F1FE;
{% elsif include.country == "Kazakhstan" %}&#x1F1F0;&#x1F1FF;
{% elsif include.country == "Lao People's Democratic Republic" %}&#x1F1F1;&#x1F1E6;
{% elsif include.country == "Lebanon" %}&#x1F1F1;&#x1F1E7;
{% elsif include.country == "Saint Lucia" %}&#x1F1F1;&#x1F1E8;
{% elsif include.country == "Liechtenstein" %}&#x1F1F1;&#x1F1EE;
{% elsif include.country == "Sri Lanka" %}&#x1F1F1;&#x1F1F0;
{% elsif include.country == "Liberia" %}&#x1F1F1;&#x1F1F7;
{% elsif include.country == "Lesotho" %}&#x1F1F1;&#x1F1F8;
{% elsif include.country == "Lithuania" %}&#x1F1F1;&#x1F1F9;
{% elsif include.country == "Luxembourg" %}&#x1F1F1;&#x1F1FA;
{% elsif include.country == "Latvia" %}&#x1F1F1;&#x1F1FB;
{% elsif include.country == "Libya" %}&#x1F1F1;&#x1F1FE;
{% elsif include.country == "Morocco" %}&#x1F1F2;&#x1F1E6;
{% elsif include.country == "Monaco" %}&#x1F1F2;&#x1F1E8;
{% elsif include.country == "Moldova" %}&#x1F1F2;&#x1F1E9;
{% elsif include.country == "Montenegro" %}&#x1F1F2;&#x1F1EA;
{% elsif include.country == "Saint Martin (French Part)" %}&#x1F1F2;&#x1F1EB;
{% elsif include.country == "Madagascar" %}&#x1F1F2;&#x1F1EC;
{% elsif include.country == "Marshall Islands" %}&#x1F1F2;&#x1F1ED;
{% elsif include.country == "Macedonia" %}&#x1F1F2;&#x1F1F0;
{% elsif include.country == "Mali" %}&#x1F1F2;&#x1F1F1;
{% elsif include.country == "Myanmar" %}&#x1F1F2;&#x1F1F2;
{% elsif include.country == "Mongolia" %}&#x1F1F2;&#x1F1F3;
{% elsif include.country == "Macao" %}&#x1F1F2;&#x1F1F4;
{% elsif include.country == "Northern Mariana Islands" %}&#x1F1F2;&#x1F1F5;
{% elsif include.country == "Martinique" %}&#x1F1F2;&#x1F1F6;
{% elsif include.country == "Mauritania" %}&#x1F1F2;&#x1F1F7;
{% elsif include.country == "Montserrat" %}&#x1F1F2;&#x1F1F8;
{% elsif include.country == "Malta" %}&#x1F1F2;&#x1F1F9;
{% elsif include.country == "Mauritius" %}&#x1F1F2;&#x1F1FA;
{% elsif include.country == "Maldives" %}&#x1F1F2;&#x1F1FB;
{% elsif include.country == "Malawi" %}&#x1F1F2;&#x1F1FC;
{% elsif include.country == "Mexico" %}&#x1F1F2;&#x1F1FD;
{% elsif include.country == "Malaysia" %}&#x1F1F2;&#x1F1FE;
{% elsif include.country == "Mozambique" %}&#x1F1F2;&#x1F1FF;
{% elsif include.country == "Namibia" %}&#x1F1F3;&#x1F1E6;
{% elsif include.country == "New Caledonia" %}&#x1F1F3;&#x1F1E8;
{% elsif include.country == "Niger" %}&#x1F1F3;&#x1F1EA;
{% elsif include.country == "Norfolk Island" %}&#x1F1F3;&#x1F1EB;
{% elsif include.country == "Nigeria" %}&#x1F1F3;&#x1F1EC;
{% elsif include.country == "Nicaragua" %}&#x1F1F3;&#x1F1EE;
{% elsif include.country == "Netherlands" %}&#x1F1F3;&#x1F1F1;
{% elsif include.country == "Norway" %}&#x1F1F3;&#x1F1F4;
{% elsif include.country == "Nepal" %}&#x1F1F3;&#x1F1F5;
{% elsif include.country == "Nauru" %}&#x1F1F3;&#x1F1F7;
{% elsif include.country == "Niue" %}&#x1F1F3;&#x1F1FA;
{% elsif include.country == "New Zealand" %}&#x1F1F3;&#x1F1FF;
{% elsif include.country == "Oman" %}&#x1F1F4;&#x1F1F2;
{% elsif include.country == "Panama" %}&#x1F1F5;&#x1F1E6;
{% elsif include.country == "Peru" %}&#x1F1F5;&#x1F1EA;
{% elsif include.country == "French Polynesia" %}&#x1F1F5;&#x1F1EB;
{% elsif include.country == "Papua New Guinea" %}&#x1F1F5;&#x1F1EC;
{% elsif include.country == "Philippines" %}&#x1F1F5;&#x1F1ED;
{% elsif include.country == "Pakistan" %}&#x1F1F5;&#x1F1F0;
{% elsif include.country == "Poland" %}&#x1F1F5;&#x1F1F1;
{% elsif include.country == "Saint Pierre and Miquelon" %}&#x1F1F5;&#x1F1F2;
{% elsif include.country == "Pitcairn" %}&#x1F1F5;&#x1F1F3;
{% elsif include.country == "Puerto Rico" %}&#x1F1F5;&#x1F1F7;
{% elsif include.country == "Palestinian Territory" %}&#x1F1F5;&#x1F1F8;
{% elsif include.country == "Portugal" %}&#x1F1F5;&#x1F1F9;
{% elsif include.country == "Palau" %}&#x1F1F5;&#x1F1FC;
{% elsif include.country == "Paraguay" %}&#x1F1F5;&#x1F1FE;
{% elsif include.country == "Qatar" %}&#x1F1F6;&#x1F1E6;
{% elsif include.country == "Réunion" %}&#x1F1F7;&#x1F1EA;
{% elsif include.country == "Romania" %}&#x1F1F7;&#x1F1F4;
{% elsif include.country == "Serbia" %}&#x1F1F7;&#x1F1F8;
{% elsif include.country == "Russia" %}&#x1F1F7;&#x1F1FA;
{% elsif include.country == "Rwanda" %}&#x1F1F7;&#x1F1FC;
{% elsif include.country == "Saudi Arabia" %}&#x1F1F8;&#x1F1E6;
{% elsif include.country == "Solomon Islands" %}&#x1F1F8;&#x1F1E7;
{% elsif include.country == "Seychelles" %}&#x1F1F8;&#x1F1E8;
{% elsif include.country == "Sudan" %}&#x1F1F8;&#x1F1E9;
{% elsif include.country == "Sweden" %}&#x1F1F8;&#x1F1EA;
{% elsif include.country == "Singapore" %}&#x1F1F8;&#x1F1EC;
{% elsif include.country == "Saint Helena, Ascension and Tristan Da Cunha" %}&#x1F1F8;&#x1F1ED;
{% elsif include.country == "Slovenia" %}&#x1F1F8;&#x1F1EE;
{% elsif include.country == "Svalbard and Jan Mayen" %}&#x1F1F8;&#x1F1EF;
{% elsif include.country == "Slovakia" %}&#x1F1F8;&#x1F1F0;
{% elsif include.country == "Sierra Leone" %}&#x1F1F8;&#x1F1F1;
{% elsif include.country == "San Marino" %}&#x1F1F8;&#x1F1F2;
{% elsif include.country == "Senegal" %}&#x1F1F8;&#x1F1F3;
{% elsif include.country == "Somalia" %}&#x1F1F8;&#x1F1F4;
{% elsif include.country == "Suriname" %}&#x1F1F8;&#x1F1F7;
{% elsif include.country == "South Sudan" %}&#x1F1F8;&#x1F1F8;
{% elsif include.country == "Sao Tome and Principe" %}&#x1F1F8;&#x1F1F9;
{% elsif include.country == "El Salvador" %}&#x1F1F8;&#x1F1FB;
{% elsif include.country == "Sint Maarten (Dutch Part)" %}&#x1F1F8;&#x1F1FD;
{% elsif include.country == "Syrian Arab Republic" %}&#x1F1F8;&#x1F1FE;
{% elsif include.country == "Swaziland" %}&#x1F1F8;&#x1F1FF;
{% elsif include.country == "Turks and Caicos Islands" %}&#x1F1F9;&#x1F1E8;
{% elsif include.country == "Chad" %}&#x1F1F9;&#x1F1E9;
{% elsif include.country == "French Southern Territories" %}&#x1F1F9;&#x1F1EB;
{% elsif include.country == "Togo" %}&#x1F1F9;&#x1F1EC;
{% elsif include.country == "Thailand" %}&#x1F1F9;&#x1F1ED;
{% elsif include.country == "Tajikistan" %}&#x1F1F9;&#x1F1EF;
{% elsif include.country == "Tokelau" %}&#x1F1F9;&#x1F1F0;
{% elsif include.country == "Timor-Leste" %}&#x1F1F9;&#x1F1F1;
{% elsif include.country == "Turkmenistan" %}&#x1F1F9;&#x1F1F2;
{% elsif include.country == "Tunisia" %}&#x1F1F9;&#x1F1F3;
{% elsif include.country == "Tonga" %}&#x1F1F9;&#x1F1F4;
{% elsif include.country == "Turkey" %}&#x1F1F9;&#x1F1F7;
{% elsif include.country == "Trinidad and Tobago" %}&#x1F1F9;&#x1F1F9;
{% elsif include.country == "Tuvalu" %}&#x1F1F9;&#x1F1FB;
{% elsif include.country == "Taiwan" %}&#x1F1F9;&#x1F1FC;
{% elsif include.country == "Tanzania" %}&#x1F1F9;&#x1F1FF;
{% elsif include.country == "Ukraine" %}&#x1F1FA;&#x1F1E6;
{% elsif include.country == "Uganda" %}&#x1F1FA;&#x1F1EC;
{% elsif include.country == "United States Minor Outlying Islands" %}&#x1F1FA;&#x1F1F2;
{% elsif include.country == "United States" %}&#x1F1FA;&#x1F1F8;
{% elsif include.country == "USA" %}&#x1F1FA;&#x1F1F8;
{% elsif include.country == "Uruguay" %}&#x1F1FA;&#x1F1FE;
{% elsif include.country == "Uzbekistan" %}&#x1F1FA;&#x1F1FF;
{% elsif include.country == "Vatican City" %}&#x1F1FB;&#x1F1E6;
{% elsif include.country == "Saint Vincent and The Grenadines" %}&#x1F1FB;&#x1F1E8;
{% elsif include.country == "Venezuela" %}&#x1F1FB;&#x1F1EA;
{% elsif include.country == "Virgin Islands, British" %}&#x1F1FB;&#x1F1EC;
{% elsif include.country == "Virgin Islands, U.S." %}&#x1F1FB;&#x1F1EE;
{% elsif include.country == "Viet Nam" %}&#x1F1FB;&#x1F1F3;
{% elsif include.country == "Vanuatu" %}&#x1F1FB;&#x1F1FA;
{% elsif include.country == "Wallis and Futuna" %}&#x1F1FC;&#x1F1EB;
{% elsif include.country == "Samoa" %}&#x1F1FC;&#x1F1F8;
{% elsif include.country == "Yemen" %}&#x1F1FE;&#x1F1EA;
{% elsif include.country == "Mayotte" %}&#x1F1FE;&#x1F1F9;
{% elsif include.country == "South Africa" %}&#x1F1FF;&#x1F1E6;
{% elsif include.country == "Zambia" %}&#x1F1FF;&#x1F1F2;
{% elsif include.country == "Zimbabwe" %}&#x1F1FF;&#x1F1FC;
{% else %}{{ include.country }}{% endif %}

