<!-- HEADER -->
<div id="nav_head">
  <header class="inner" id="nav_head_inner">
    <img id="logo" src="{{ site.webroot }}assets/img/fenics-logo-small.png">
    {% include _nav.html %}
  </header>
</div>
<div id="header_wrap" class="outer">
  <header class="inner">
  <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
  <div class='socialicons'>
    <a href="https://github.com/fenics"><i class="fa fa-github" aria-hidden="true"></i></a><a href="https://twitter.com/fenicsproject"><i class="fa fa-twitter" aria-hidden="true"></i></a>  
  </div>
  </header>
</div>
