<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.webroot }}assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.webroot }}assets/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.webroot }}assets/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.webroot }}assets/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.webroot }}assets/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.webroot }}assets/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.webroot }}assets/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.webroot }}assets/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.webroot }}assets/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.webroot }}assets/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.webroot }}assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.webroot }}assets/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.webroot }}assets/icons/favicon-16x16.png">
    <link rel="manifest" href="{{ site.webroot }}assets/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#555555">
    <meta name="msapplication-TileImage" content="{{ site.webroot }}assets/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#555555">

    {% for link in site.data.stylesheets %}
      <link rel="stylesheet" type="text/css" href="{{ site.webroot }}{{ link.url }}">
    {% endfor %}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://use.fontawesome.com/ffd23b5274.js"></script>
    <script type='text/javascript'>
document.getElementById("MathJax-script").addEventListener('load', function () {
window.MathJax = {
  tex: {
    inlineMath: [['$', '$']],
    displayMath: [['[[',']]']]
  },
  svg: {
    fontCache: 'global'
  }
}});
</script>

{% seo %}
  </head>

