<!-- HEADER -->
<div id="header_wrap" class="outer">
  <header class="inner">
  <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
  <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
  {% include _nav.html %}
  <div class='socialicons'>
    <a href="https://github.com/fenics"><i class="fa fa-github" aria-hidden="true"></i></a><a href="https://twitter.com/fenicsproject"><i class="fa fa-twitter" aria-hidden="true"></i></a>  
  </div>
  </header>
</div>
