<div class='person'>
{% if {{include.img}} %}<div class='imgwrap'><img src='{{include.img}}'></div>{% endif %}
<div class='innertext'>
<h3>{{include.name}}</h3>
{{include.about}}{% if {{include.bemppabout | markdownify}} %}

{{include.bemppabout | markdownify}}{% endif %}<ul class='sociallist'>
{% if {{include.website}} %}<li><a href="{{include.website}}"><i class="fa fa-internet-explorer" aria-hidden="true"></i> {{ include.website | split:"//" | last}}</a></li>{% endif %}
{% if {{include.email}} %}<li><a href="mailto:{{include.email}}"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{include.email}}</a></li>{% endif %}
{% if {{include.github}} %}<li><a href="https://github.com/{{include.github}}"><i class="fa fa-github" aria-hidden="true"></i> {{include.github}}</a></li>{% endif %}
{% if {{include.twitter}} %}<li><a href="https://twitter.com/{{include.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i> @{{include.twitter}}</a></li>{% endif %}
</ul>
</div>
</div>
